* {
  border: 1px dashed blue;
}

div {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  border-radius: 95px;
  /*Add your CSS here!*/
  display:inline-block;

}

#one {
  background-color: #FF0000;
}

#two {
  background-color: #0000FF;
}

#three {
  background-color: #FFD700;
}

#four {
  background-color: #308014;
}

#default {
  font-size: 20px;
  background:red;
}