/* ALL STYLE */

*{
    margin:0px;
    padding:0px;
}

a{
    text-decoration: none;
    color: black;
    font-family: orator std;
    font-size: 10px;

}


a:hover {
    color: white;
}


/* HOME PAGE STYLE */

#maincontainer{
  position: relative;
  margin-top: 25%;
  transform: translateY(-70%);
  margin-left: auto;
  margin-right: auto;
  width:180px;
  height:100px;
}

#container1{
   float:left; 
   margin-left: 3%;
   width:21%;
   text-align: center;
}
#container2{
   float:left; 
   width:21%;
   text-align: center;
}
#container3{
   float:left; 
   width:21%;
   text-align: center;
}

#container4{
   float:left; 
   margin-right: 3%; 
   width:21%;
   text-align: center;
}

.right_arrow {
    position: block;
    float: right;
    height:5px;
    width:5%;
    margin-top: 40px;

}

.left_arrow {
    position: block;
    float: left;
    height:5px;
    width:5%;
    margin-top: 40px;

}

.right_arrow:hover{
    stroke: #ffffff;
}

.left_arrow:hover{
    stroke: #ffffff;
}

/* PAGES STYLE */

.pagecontainer{
  position: relative;
  background-color: red;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  height:600px;
}

.backbutton{
   float: left;
   width: 3%;
   background-color: blue;
   font-size: 10px;
}

.horizontalcontainer {
   float: left;
   width: 97%;
   
}

.horizontalcontainer img {
   margin-left:8% ;
   height: 600px;
   
}

.verticalcontainer {
   float: left;
   width: 97%;
} 

.verticalcontainer img {
   margin-left:27% ;
   height: 600px;
   
}

.caption {
   background-color: yellow;
   margin-left: 5px;
   margin-top: 30px;
   position: absolute;
   font-family: orator std;
   font-size: 10px;
   float: right;
}

.about {
    font-family: orator std;
    font-size: 10px;
}