div{
	margin-bottom: 10px;
}

#text{
	float:left;
}
.container{
			width:380px;
			height:600px;
}
#container1	{
	        margin-left: 8px;
	        margin-top: 50px
			width:380px;
			height:600px;
			float:left;
}

#container2	{
			width:380px;
			height:600px;
			float:left;
			margin-left: 390px;
			margin-top: -594px;
}

#container3	{
			width:380px;
			height:600px;
			float:left;
			margin-left: 390px;
			margin-top: -594px;
}
		
		
#about {
	float: right;
	text-align: right;
}
		

.col-md-6,.col-md-5
		{
			border:0px ;
		}
		#div1,#div2,#div3,#div4,#div5,#div6,#div7,#div8 {width:180px;height:130px;padding:3px;} 