div img {
   display: block;
   width: 65%;
   margin-top: -20px;
   margin-left: auto ;
   margin-right: auto ;
  
      
}

.active {
      -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}


#text1 {
  z-index: 100;
  text-align: center;
  position: absolute;
  color: black;
  font-size: 20px;
  font-family: courier prime;
  left: 150px;
  top: 450px;
  
}


.left-click {
    top:0px;
    left:0px;
    height:100%;
    width:50%;
    position:absolute;
    z-index:200;
}

.right-click {
    top:0px;
    right:0px;
    height:100%;
    width:50%;
    position:absolute;
    z-index:200;
}