html {
  width: 100%;
  height: 100%;
  clip: auto;
  position: absolute;
  overflow: hidden;
}

div img {
   display: block;
   width: 28%;
   margin-top: -30px;
   margin-left: 150px ;
   margin-right: auto ;
  
}
.back{
 position:absolute;
 top:0px;
 left:230px;
 background-image:url("images/girl5back.jpg");
 padding:0px;
 margin:0px;
  
}

.room{
  margin:0px;
  width: 1050px;
  height: 650px;
  
}

.active {
    
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
         position:relative;
}


#text1 {
  z-index: 100;
  text-align: center;
  position: absolute;
  color: black;
  font-size: 20px;
  font-family: courier prime;
  left: 60px;
  top: 400px;
  
}
#text2 {
  z-index: 100;
  text-align: center;
  position: absolute;
  color: black;
  font-size: 20px;
  font-family: courier prime;
  left: 150px;
  top: 470px;
  
}

.left-click {
    top:0px;
    left:0px;
    height:100%;
    width:50%;
    position:absolute;
    z-index:200;
}

.right-click {
    top:0px;
    right:0px;
    height:100%;
    width:50%;
    position:absolute;
    z-index:200;
}