div img {
   display: block;
   width: 55%;
   height: 55%;
   margin-left: auto ;
   margin-right: auto ;
  
}
#text1 {
  z-index: 100;
  text-align: left;
  position: absolute;
  color: black;
  font-size: 16px;
  font-family: courier prime;
  left: 20px;
  top: 110px;
  
}