div img {
   display: block;
   width: 62%;
   height: 62%;
   margin-left: auto ;
   margin-right: auto ;
  
}
#text1 {
  z-index: 100;
  text-align: center;
  position: absolute;
  color: black;
  font-size: 15px;
  font-family: courier prime;
  left: 331px;
  top: 20px;
  
}