@font-face {
    font-family: 'din_condensedbold';
    src: url('../fonts/din_condensed_bold-webfont.eot');
    src: url('../fonts/din_condensed_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din_condensed_bold-webfont.woff2') format('woff2'),
         url('../fonts/din_condensed_bold-webfont.woff') format('woff'),
         url('../fonts/din_condensed_bold-webfont.ttf') format('truetype'),
         url('../fonts/din_condensed_bold-webfont.svg#din_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

*{
    margin:0px;
    padding:0px;
}


body{
    background-image:url('../img/baloonsaloon.jpg');
    background-size:cover;
    background-position: 100px 280px;
    font-family: 'din_condensedbold';
}

.back{
 position:absolute;
 top:-70px;
 left:0px;
 background-image:url("assets/img/baloonsaloon.jpg");
 padding:0px;
 margin:0px;
  
}

.background{
  margin:0px;
  width: 1300px;
  height: 800px;
}


#text1 {
  z-index: 100;
  text-align: center;
  color: white;
  font-size: 150px;
  font-family: 'din_condensedbold';
  position:relative;
    
}


span.circle {
        border-radius: 50%;
        width: 80px;
        height: 80px;
        display: inline-block;
        background-color: black;
}

span.circle:hover{
    background-color:red;
}

#container {
    background:blue;
    width:300px;
    text-align: center;
    margin-left: auto ;
    margin-right: auto ;
    margin-top: 100px;
}

#menu1 {
    float:left;
    width:100px;
    position:relative;
    
}

#menu2 {
    display: inline-block;
    
    width:100px;
    position:relative;
    
}

#menu3 {
    float:right;
    width:100px;
    position:relative;
   
}

.btmP{
    position:fixed; 
    bottom:0px;
}

a {
  margin: auto;
  font-size: 28px;
  color: black;
  text-decoration: none;
  
}
  
a:hover {
  color: red;
}  
